.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form .input{
    width: 150px;
    margin-bottom: 40px;
}

.btn-submit{
    width: max-content;
    margin-bottom: 30px;
}